﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fikra</title>
</head>
<body>
    @Html.Partial("_Turicerik")
    <div> 
    </div>
</body>
</html>
