﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hakkimizda</title>
</head>
<body>
   
    <div class="container">
        <div class="row carousel-holder">
            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                       
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="slide-image" src="~/Content/sliderimages/sliderimage1.png" alt="" width="1400" height="300">
                            <div class="carousel-caption">
                                <p>2015 En İyi Yazar Adayı</p>
                            </div>
                        </div>
                        <div class="item">
                            <img class="slide-image" src="~/Content/sliderimages/sliderimage1.png" alt="" width="1400" height="300">
                        </div>
                        
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
       

        <div class="container">
            <br />
            <br />

            <h2 style="color:deepskyblue">Birlikte Çalıştıklarımız</h2>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/Content/yayinimages/yayin01.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
                    
                </div>
                <div class="col-md-3">
                    <img src="~/Content/yayinimages/yayin02.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
                </div>
                <div class="col-md-3">
                    <img src="~/Content/yayinimages/yayin03.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
                </div>
                <div class="col-md-3">
                    <img src="~/Content/yayinimages/yayin04.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
                </div>

            </div>
        </div>

    <div class="container">
        <br />

        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/yayinimages/yayin05.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
                
            </div>
            <div class="col-md-3">
                <img src="~/Content/yayinimages/yayin06.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
            </div>
            <div class="col-md-3">
                <img src="~/Content/yayinimages/yayin07.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
            </div>
            <div class="col-md-3">
                <img src="~/Content/yayinimages/yayin08.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
            </div>

        </div>
    </div>

    <div class="container">
        <br />

        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/yayinimages/yayin09.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
               
            </div>
            <div class="col-md-3">
                <img src="~/Content/yayinimages/yayin10.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
            </div>
            <div class="col-md-3">
                <img src="~/Content/yayinimages/yayin11.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
            </div>
            <div class="col-md-3">
                <img src="~/Content/yayinimages/yayin12.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
            </div>

        </div>
    </div>
</body>
</html>
