﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Makale</title>
</head>
<body>
    <h1>MAKALE</h1>
    @Html.Partial("_Turicerik")
</body>
</html>
