﻿
<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Olustur</title>
    <style>
        body{
            background-color:#f7f6f3;
            color:#555;
            font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 16px;
            line-height: 24px;
        }

    </style>
</head>
<body>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <header>
                    <div>
                        <h2>
                            <strong aria-label="Çalışmalarım.">Çalışmalarım</strong>
                            
                        </h2>
                    </div>
                </header>
            </div>
        </div>
    </div>
 

</body>
</html>


@* <h2>
        <strong aria-label="Çalışmalarım.">Çalışmalarım</strong>
    </h2>*@