﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TurYazar</title>
</head>
<body>

    @*<--------------------------------------------------Makale-------------------------------------->*@
    <div class="container"style="color:deepskyblue">
        <h1>Makale</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                        <img src="~/Content/images/images01.png" alt="" style="width:100%">
                        <div class="caption"style="color:black">
                            <p>Şinasi
                            <br />
                               <i>Mukaddime</i> 
                            </p>
                        </div>                   
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                        <img src="~/Content/images/images02.png" alt="" style="width:100%">
                        <div class="caption"style="color:black">
                            <p>Namık Kemal
                            <br />
                               <i>Mes Prisons Muahezenamesi</i> 
                            </p>
                        </div>  
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images03.png" alt="" style="width:100%">
                    <div class="caption"style="color:black">
                            <p>Ziya Gökalp
                            <br />
                               <i>Türkleşmek</i> 
                            </p>
                        </div>  
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images04.png" alt="" style="width:100%">
                    <div class="caption"style="color:black">
                            <p>Cenap Şahabettin
                            <br />
                               <i>Evrak-ı Eyyam </i> 
                            </p>
                        </div>  
                </div>
            </div>
        </div>
    </div>
    @*<--------------------------------------------------Deneme-------------------------------------->*@
    <div class="container" style="color:deepskyblue">
        <h1>Deneme</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images05.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Nurullah Ataç
                            <br />
                            <i> Günlerin getirdiği</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images06.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Suut Kemal Yetkin
                            <br />
                            <i>Yokuşa Doğru</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images07.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Ahmet Haşim
                            <br />
                            <i>Bize Göre</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images08.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Mahmut Sadık
                            <br />
                            <i>Takvimden Yapraklar </i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<--------------------------------------------------Fıkra-------------------------------------->*@
    <div class="container" style="color:deepskyblue">
        <h1>Fıkra</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images09.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Ahmet Rasim
                            <br />
                            <i> Şehir Mektupları</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images10.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Hüseyin Cahit Yalçın
                            <br />
                            <i>Nadide </i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images11.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Refik Halit Karay
                            <br />
                            <i>Bir Avuç Saçmak</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images12.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Falih Rıfkı Atay
                            <br />
                            <i>Çile </i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<--------------------------------------------------Masal-------------------------------------->*@
    <div class="container" style="color:deepskyblue">
        <h1>Masal</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images13.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Grimm Kardeşler
                            <br />
                            <i>Bremen Mızıkacıları</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images14.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Jean de La Fontaine
                            <br />
                            <i>Ağustos Böceği ile Karınca</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images15.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Hans Christian Andersen
                            <br />
                            <i>Kibritçi Kız</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images16.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Jonathan Swift
                            <br />
                            <i> Gulliver’in Gezileri </i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<--------------------------------------------------Eleştiri-------------------------------------->*@
    <div class="container" style="color:deepskyblue">
        <h1>Eleştiri</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images17.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Namık Kemal
                            <br />
                            <i>Tahrib-i Harabat</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images18.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Hüseyin Cahit Yalçın
                            <br />
                            <i>Kavgalarım</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images19.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Cenab Şahabettin
                            <br />
                            <i>Biraz Psikoloji</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images20.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Recaizade Mahmut Ekrem
                            <br />
                            <i>Zemzeme III </i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<--------------------------------------------------Gezi Yazısı-------------------------------------->*@
    <div class="container" style="color:deepskyblue">
        <h1>Gezi Yazısı</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images21.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Evliya Çelebi
                            <br />
                            <i>Seyahatname</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images22.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Reşat Nuri Güntekin
                            <br />
                            <i>Tuna'dan Batı'ya</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images23.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Cenap Sahabettin
                            <br />
                            <i>Suriye Mektupları</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/images/images24.png" alt="" style="width:100%">
                    <div class="caption" style="color:black">
                        <p>
                            Ahmet Haşim
                            <br />
                            <i>Frankfurt Seyahatnamesi </i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
