﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Writers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Writers", "Index1", "Olustur", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Türler İçin Tıklayınız" aria-expanded="false">
                        @Html.Label(WebApplication9.Resources.dil.turler)
                        <b class="caret"></b>
                        </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink(WebApplication9.Resources.dil.makale, "/Kategori/2", "Olustur")</li>
                        <li>@Html.ActionLink(WebApplication9.Resources.dil.deneme, "/Kategori/3", "Olustur")</li>
                        <li>@Html.ActionLink(WebApplication9.Resources.dil.elestiri, "/Kategori/5", "Olustur")</li>
                        <li>@Html.ActionLink(WebApplication9.Resources.dil.masal, "/Kategori/4", "Olustur")</li>
                        <li>@Html.ActionLink(WebApplication9.Resources.dil.fikra, "/Kategori/7", "Olustur")</li>
                        <li>@Html.ActionLink(WebApplication9.Resources.dil.geziyazisi, "/Kategori/6", "Olustur")</li>
                    </ul>
                    </li>
                    <li>@Html.ActionLink(WebApplication9.Resources.dil.olustur, "Index", "Olustur")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Topluluk İçin Tıklayınız" aria-expanded="false">
                            @Html.Label(WebApplication9.Resources.dil.topluluk)
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(WebApplication9.Resources.dil.turlerhakkinda, "TurHakkinda", "Home")</li>
                            <li>@Html.ActionLink(WebApplication9.Resources.dil.turlerinyazarlari, "TurYazar", "Home")</li>
                            <li>@Html.ActionLink(WebApplication9.Resources.dil.hakkinda, "Hakkimizda", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink(WebApplication9.Resources.dil.iletisim, "Index", "iletisim")</li>
                    
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li class="page-scroll">

                    </li>

                    <li class="page-scroll">
                        <div class="dropdown">
                            <h5>                               </h5>
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                Dil
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Default Türkçe</li>
                                <li>@Html.ActionLink("TR", "DilDegistir", "Home", new { dil = "tr" }, null)</li>
                                <li>@Html.ActionLink("ENG", "DilDegistir", "Home", new { dil = "en" }, null)</li>
                            </ul>
                        </div>
                    </li>

                    <li class="page-scroll">
                        <h5>                                         </h5>
                        <button type="button" class="btn btn-primary">
                            @WebApplication9.Resources.dil.giris
                        </button>
                    </li>
                </ul>
                <div class="container">
                    <div class="row">
                        <h5>                 </h5>
                        <div id="custom-search-input">
                            <div class="input-group col-md-3">
                                <input type="text" class="search-query form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="row">
                    <div class="col-md-4" >
                         <h3> 
                        @Html.Label(WebApplication9.Resources.dil.amatoryazartop)
                         </h3>
                    </div>
                    <div class="col-md-4">

                    </div>

                    <div class="col-md-4">
                        <div class="exsprite">

                            <ul class="social-icons pull-right">

                                <li><a class="icon google" href="https://www.gmail.com/">Google+</a></li>
                                <li><a class="icon facebook" href="https://www.facebook.com/">Facebook</a></li>
                                <li><a class="icon twitter" href="https://www.twitter.com">Twitter</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
