﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TurHakkinda</title>
</head>
<body>
    <div style="color:deepskyblue; font-size:15px;"> 
        <br />
        <br />

        <h1>Makale</h1>
        <p style="color:black">
            <i style="color:red">Tanım:</i>Bir gerçeği açıklamak, bir konuda görüş ve düşünceler  öne sürmek ya da bir tezi savunmak, desteklemek için yazılan yazılara makale denir.
            <br />
            *Anlatım yalın ve yoğundur, nesnel bir nitelik taşır.
            <br />
            *Öne sürülen düşünce ve tez kanıtlanır.
            <br />
            *Söz oyunlarına baş vurulmaz, süslü anlatımdan uzak durulur.
            <br />
            *Her konuda makale yazılabilir.
            <br />
            *Gazete ve dergilerde yayımlanır.
            <br />
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-cloud" style="font-size:24px;"></i>
                    Örnek
                </div>
                <div class="panel-body"style="color:black">Kitap okumayı sevmiyoruz. Bu kitap okuma oranlarından da belli. Nüfusu yedi milyon olan Azerbeycan’da kitaplar ortalama 100.000 tirajla basılırken Türkiye’de bu rakam 3000 civarında. Gelişmiş ülkelerde kişi başına düşen yıllık kitaba harcanan para ortalama 100 dolar, bizde ise 10 doların altında. Türkiye’de her yüz kişiden beşi kitap okuyor. Bütün bunlar bizim kitaba ne kadar uzak bir toplum olduğumuzun göstergesi.</div>
            </div>

        </p>
        <br />
        <h1>Deneme</h1>
        <p style="color:black">
            <i style="color:red">Tanım:</i> Yazarın herhangi bir konudaki görüşlerini, kesin kurallara varmadan, kanıtlamaya kalkmadan, okuyucuyu inanmaya zorlamadan anlattığı yazı türüdür.
            <br />
            *Yazar, kendisiyle konuşuyormuş gibi bir hava sezdirir.
            <br />
            *Samimi bir dil kullanılır.
            <br />
            *Yazar, öne sürdüğü görüşleri ispatlamak zorunda değildir.
            <br />
            *Yazarın kesin bir sonuca varma zorunluluğu yoktur.
            <br />
            *Nurullah Ataç “Deneme, ben ülkesidir” der.
            <br />
            *Yazar anlatımda ve konu seçiminde özgürdür.
            <br />
            *Türün ünlüleri, Ahmet Haşim, Nurullah Ataç, Suut Kemal Yetkin, Ahmet Hamdi Tanpınar,Selahattin Eyyüboğlu.
            <br />
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-cloud" style="font-size:24px;"></i>
                    Örnek
                </div>
                <div class="panel-body" style="color:black">Gönlümüzün güzelliği sevgi ise beynimizin güzelliği de düşünebilme yeteneğimizdir. O yeteneği her an, her dakika kullanmalıyız. Unutmayalım ki düşünen insan, özgür insandır. Kişi düşünebiliyorsa pek çok sorununu çözecek, pek çok şeyi bilecektir. Onun için bir karar alırken annenizin, babanızın, çevrenizdekilerin görüşlerini alın ama o görüşleri de sorgulayın. Sonra da oturup kararınızı kendiniz alın. Bu durumda eziyetler de güçlükler de size aittir artık. Karar alırken sorumluluk almayı da bilin. İşte bu, büyümek ve olgunlaşmaktır. Aynı zamanda özgür olma yolunda atılan ilk adımdır.</div>
            </div>
        </p>
        <br />
        <h1>Fıkra</h1>
        <p style="color:black">
            <i style="color:red">Tanım:</i>Yazarın, gündelik olayları, özel bir görüşle, güzel bir üslupla, kanıtlama gereği duymadan yazdığı kısa, günübirlik yazılardır.
            <br />
            *Gazete yazısıdır.
            <br />
            *Yazar düşüncelerini kanıtlama yoluna gitmez.
            <br />
            *Dil tabiidir.Günlük deyimlere, yer yer nükteli sözlere yer verilir.
            <br />
            *Okuyucuyla sohbet ediyormuş gibi bir hava sezdirilir.
            <br />
            *Türün ünlüleri, Ahmet Rasim, Falih Rıfkı,
            <br />
            Ahmet Haşim, Hüseyin Cahit Yalçın, Peyami Safa.
            <br />
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-cloud" style="font-size:24px;"></i>
                    Örnek
                </div>
                <div class="panel-body" style="color:black">ZELZELE
                <br />
                Zelzele, dün gece, İstanbul'u uykusunun en derin yerinde oy­nattı. Garip şey! Haftalardan beri komşu toprakları sarsan ve şimdi gizli adımlarla bize yaklaşır gibi olan bu âfetin, faaliyete geçmek için insan gafletini kollayışta gösterdiği şeytani dikkate bakılırsa, bunun, cana kastetmiş bir müthiş zekânın işi olduğu­na hükmetmek lâzım geliyor.

                Öyle ya! Muharebelerde düşmanı, dalgın karargâhları topa tutmak ve hırsızın soyacağı evin duvarına tırmanmak İçin intihap ettiği (seçtiği) saat, hemen daima zelzelenin de harekete geç­mek için beklediği saattir: gecenin ilerlemiş bir saati!

                Gerek düşman, gerek hırsız, gerek zelzele, gafil İnsanın so­yunup entarisini ([1]) giymesini ve atağa uzanıp, rahat horlama­sını gözlerler.

                Anlaşılan, ikide bir toprağın temellerini sarsan gizli ve kor­kunç kollar, gecenin karanlıkları içinde, insanları, don ve göm­lekle, yalınayak, başıkabak, sokaklara perişan dökülmüş gör­mekten zevk alan tuhaflık merakında bir zalim kuvvetin hesa­bına, yeraltı âleminde, şu garip faciaları hazırlayıp duruyor!</div>
            </div>
        </p>
        <br />
        <h1>Masal</h1>
        <p style="color:black">
            <i style="color:red">Tanım:</i>Olağanüstü olayların anlatıldığı sözlü bir edebiyat ürünüdür.
            <br />
            *Olaylar hayal ürünüdür.
            <br />
            *Yer ve zaman belli değildir.
            <br />
            *Kahramanlar insanüstü nitelikler gösterir.
            <br />
            *İyiler hep iyi, kötüler hep kötüdür.
            <br />
            *iyiler ödüllendirilir, kötüler cezalandırılır.
            <br />
            *Eğiticilik esastır. Evrensel konular işlenir.
            <br />
            *Olaylar miş’li geçmiş zaman kullanılarak anlatılır.
            <br />
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-cloud" style="font-size:24px;"></i>
                    Örnek
                </div>
                <div class="panel-body" style="color:black">GEYİK İLE KAPLAN
                <br />
                Geyiğin biri ormanda geziniyormuş. Çok susamış; derenin başına gitmiş. Suya başını daldırınca bir de ne görsün?
                Boynuzları çok gösterişli, bacakları ise incecik bir geyikmiş. Koca koca boynuzları hoşuna gitmiş, ama bacaklarını hiç mi hiç beğenmemiş.
                Geyik boynuzları ile böbürlenip bacaklarıyla yerinirken arkasında bir kaplan belirmiş.
                Kaplan geyiği parçalamak için atılmış. Geyik bu ya; o incecik bacaklarıyla hızla koşup uzaklaşmış.
                Uzaklaşmış ama boynuzları bir dala takılınca olduğu yerde kalakalmış. Kaplan da yetişip hemen onu yakalamış.
                Beğenmediği bacakları ona iyilik ederken çok güvendiği boynuzları kötülük etmiş.
                Zavallı geyik oracıkta ölmüş.</div>
            </div>
        </p>
        <br />
        <h1>Eleştiri</h1>
        <p style="color:black">
            <i style="color:red">Tanım:</i> Sanat, edebiyat, düşünce eserlerini hem öz hem yapı yönünden açıklayan, başarılı ve   başarısız ya da değerli ve değersiz yönlerini gösteren, bunları örneklerle somutlayıp  belirten yazı türüdür.
            <br />
            *Eleştiri objektif olmalıdır.
            <br />
            *Eleştiride amaç okura ve yazara yol göstermektir.
            <br />
            *Eleştirmenin kişisel duygularını kattığı eleştirilere öznel eleştiri, kişisel duygularını katmadığı,objektif olduğu eleştirilere de nesnel eleştiri denir.
            <br />
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-cloud" style="font-size:24px;"></i>
                    Örnek
                </div>
                <div class="panel-body" style="color:black">Eleştiri adı : Halikarnas Balıkçısı
                <br />
                Halikarnas Balıkçısı takma adıyla tanınan Cevat Şakir Kabaağaçlı (1886-1973), öykücü ve romancı olarak, Ege ve Akdeniz kıyılarımızın, ekmeğini çekişe dövüşe denizden çıkaran yoksul, ama namuslu insanlarının yaşam serüvenini, bu bölgelerin taşı toprağı, ormanı dağı, mitolojisi efsanesiyle birlikte, şiirsel bir anlatımın bütün sıcaklığında coşa taşa edebiyatımıza mal eden ilk ve tek sanatçıdır.
                Daha babasının (Şakir Paşa) elçi olarak bulunduğu Atina’da geçen çocukluk günlerinde filizlenip, Oxford’daki tarih öğreniminde daha bir gelişerek bilinçlenen mitoloji merakı, meraktan da öte tutkusu, o taşkın deniz sevgisiyle sarmaş dolaş olarak, hikâye ve romanlarına yansır.</div>
            </div>
        </p>
        <br />
        <h1>Gezi Yazısı</h1>
        <p style="color:black">
            <i style="color:red">Tanım:</i>Gezilip görülen yerler hakkında yazılan yazılardır.
            <br />
             *Gezi yazısında yazar daima, gezdiği yerleri anlatmalı, uydurma, yanlış bilgiler vermemelidir.
            <br />
              *Yazar gördüklerini, okuyucusunun daha iyi algılaması için, karşılaştırma yapar.Okur sanki o yerleri sanatçıyla gezer gibi olur.
            <br />
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-cloud" style="font-size:24px;"></i>
                    Örnek
                </div>
                <div class="panel-body" style="color:black">Evliya Çelebi’nin Seyahatname’sinde anlattığı Amasya’yı gezmeye gidiyorduk. Yolculuğumuz on-on iki saat sürdü. Otobüs şoförü bizi şehrin göbeğinde indirdi. Amasya, bütün güzelliğiyle gözümüzün önündeydi artık. Yeşilırmak, şehrin tam ortasından geçiyor. Şehrin bir yanında Amasya Kalesi bir yanında Ferhat Dağı var. Amasya Kalesi’nin eteklerinde Yeşilırmak boyunca uzanan Safranbolu evlerine benzeyen tarihî Yalıboyu evleri var. Hemen arkasında ise Kral Kaya Mezarlıkları… Şehir, sanki açık hava müzesi. Şehri kuş bakışı görmek için Çakallar Tepesi’ne çıktık. Tarih kokan muhteşem bir şehir sanki ayaklarımızın altındaydı.</div>
            </div>
        </p>
        <br />
    </div>
</body>
</html>
