﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Writers</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Writers", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Türler İçin Tıklayınız" aria-expanded="false">
                        Türler
                        <b class="caret"></b>
                        </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Makale", "Makale", "Home")</li>
                        <li>@Html.ActionLink("Deneme", "Deneme", "Home")</li>
                        <li>@Html.ActionLink("Eleştiri", "Elestiri", "Home")</li>
                        <li>@Html.ActionLink("Masal", "Masal", "Home")</li>
                        <li>@Html.ActionLink("Fıkra", "Fikra", "Home")</li>
                        <li>@Html.ActionLink("Gezi Yazısı", "GeziYazisi", "Home")</li>
                    </ul>
                    </li>
                    <li>@Html.ActionLink("Oluştur", "Olustur", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Topluluk İçin Tıklayınız" aria-expanded="false">
                            Topluluk
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Türler Hakkında", "TurHakkinda", "Home")</li>
                            <li>@Html.ActionLink("Türlerin Yazarları", "TurYazar", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("İletişim", "Iletisim", "Home")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li class="page-scroll">

                    </li>

                    <li class="page-scroll">
                        <div class="dropdown">
                            <h5>                               </h5>
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                Dil
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Default Türkçe</li>
                                <li><a href="#">TR</a></li>
                                <li><a href="#">ENG</a></li>
                                
                                
                            </ul>
                        </div>
                    </li>

                    <li class="page-scroll">
                        <h5>                                         </h5>
                        <button type="button" class="btn btn-primary">
                            Giriş Yap
                        </button>
                    </li>
                    

                </ul>


     
                <div class="container">
                    <div class="row">
                        <h5>                 </h5>
                        <div id="custom-search-input">
                            <div class="input-group col-md-3">
                                <input type="text" class="search-query form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="row">
                    <div class="col-md-4" >
                         <h3> Amatör Yazarlar Topluluğu </h3>
                    </div>
                    <div class="col-md-4">

                    </div>

                    <div class="col-md-4">
                        <div class="exsprite">

                            <ul class="social-icons pull-right">

                                <li><a class="icon google" href="https://www.gmail.com/">Google+</a></li>
                                <li><a class="icon facebook" href="https://www.facebook.com/">Facebook</a></li>
                                <li><a class="icon twitter" href="https://www.twitter.com">Twitter</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
              


            </div>

           

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
