﻿@model WebApplication9.Models.Olustur

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Olustur", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.KategoriId, "KategoriId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KategoriId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KategoriId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Baslik, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Baslik, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dil, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select data-val="true" data-val-number="The field KategoriId must be a number." data-val-required="KategoriId alanı gereklidir." id="Dil" name="Dil">
                    <option value="Türkçe">Türkçe</option>
                    <option value="İngilizce">İngilizce</option>
                </select>
                @Html.ValidationMessageFor(model => model.Dil, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aciklama, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
                @Html.LabelFor(model => model.foto1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="file" class="form-control" />
                </div>
                @Html.ValidationMessageFor(model => model.foto1, "", new { @class = "text-danger" })
            
        </div>
        <br /><br />
        <div class="form-group">
            @Html.LabelFor(model => model.Yazi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea style="resize:none; width:50%;" class="form-control" id="Yazi" name="Yazi" rows="30"></textarea>
                @Html.ValidationMessageFor(model => model.Yazi, "", new { @class = "text-danger" })
            </div>
            
        </div>
            


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Listeye Dön", "Index")
</div>
