﻿
@model IEnumerable<WebApplication9.Models.Olustur>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Olustur</title>
    <style>
        body {
            background-color: #f7f6f3;
            color: #555;
            line-height: 24px;
        }

        .btn-orange {
            color: #FFF;
            background-color: #FF9912;
        }

        .btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover, .btn-orange {
            border-color: transparent;
        }
    </style>
</head>
<body>
    <br />
    <br />
    <div class="container" style="font-size:16px;">
        <div class="row">
            <div class="col-md-9">
                <header>
                    <div class="col-md-9">
                        <h2>
                            <strong aria-label="Çalışmalarım.">Çalışmalarım</strong>
                        </h2>
                    </div>
                    <br />
                    <a href="@Url.Action("Create","Olustur")" class="btn btn-orange btn-right-align pull-right new-story-top on-new-story " role="button" aria-label="Yeni bir hikaye oluştur Tuş.">+ Yeni YazıTürü</a>
                </header>

            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <br />
                <div class="panel panel">
                    <div class="panel-heading">Tüm Yazı Türleri</div>
                    <div class="panel-body">
                        
                        <table class="table">
                            <tr>
                                <th>
                                    &#09;
                                </th>
                                <th>
                                    Tür
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Baslik)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dil)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Aciklama)
                                </th>
                                


                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    @if (item.foto1 == null)
                                    {
                                        <td><img style='width:70px; height:70px; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" /></td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img style='width:70px; height:70px; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.foto1)" />
                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Kategori.Ad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Baslik)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dil)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Aciklama)
                                    </td>
                                    

                                    <td>
                                        @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                                    </td>

                                </tr>

                            }

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


