﻿@model IEnumerable<WebApplication9.Models.Olustur>

@{
    ViewBag.Title = "Index1";
    int i =0;
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">Makale</div>
                <div class="panel-body">
                <table class="table">
    <tr>
        <th>
            &emsp;
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            @if (item.KategoriId == 2 && i < 3)
            {
                i++;
                if (item.foto1 == null)
                {
                    <td><img style='width:70px; height:70px; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" /></td>
                }
                else
                {
                    <td>
                        <img style='width:70px; height:70px; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.foto1)" />
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Baslik)
                </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Aciklama)
                            </td>
                            <td>
                                @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) 
                            </td>
            }
        </tr>
        }
        </table>                  
                </div>
            </div> 

            
        </div>
        @{         
           i = 0;
        }
        <div class="col-md-6">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">Deneme</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                &emsp;
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Baslik)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Aciklama)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>

                                @if (item.KategoriId == 3 && i < 3)
                                {
                                    i++;
                                    if (item.foto1 == null)
                                    {
                                        <td><img style='width:70px; height:70px; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" /></td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img style='width:70px; height:70px; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.foto1)" />
                                        </td>
                                    }

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Baslik)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Aciklama)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) 
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
            
        </div>
        </div>
        @{
            i = 0;
        }
        
    <div class="row">
        <div class="col-md-6">
            <br />
            <div class="panel panel-success">
                <div class="panel-heading">Masal</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                &emsp;
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Baslik)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Aciklama)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>

                                @if (item.KategoriId == 4 && i < 3)
                                {
                                    i++;
                                    if (item.foto1 == null)
                                    {
                                        <td><img style='width:70px; height:70px; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" /></td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img style='width:70px; height:70px; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.foto1)" />
                                        </td>
                                    }

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Baslik)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Aciklama)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) 
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>

        </div>
        @{
            i = 0;
        }
        <div class="col-md-6">
            <div class="panel panel-info">
                <br />
                <div class="panel-heading">Eleştiri</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                &emsp;
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Baslik)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Aciklama)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>

                                @if (item.KategoriId == 5 && i < 3)
                                {
                                    i++;
                                    if (item.foto1 == null)
                                    {
                                        <td><img style='width:70px; height:70px; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" /></td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img style='width:70px; height:70px; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.foto1)" />
                                        </td>
                                    }

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Baslik)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Aciklama)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) 
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    @{
        i = 0;
    }

    <div class="row">
        <div class="col-md-6">
            <br />
            <div class="panel panel-warning">
                <div class="panel-heading">Gezi Yazısı</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                &emsp;
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Baslik)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Aciklama)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>

                                @if (item.KategoriId == 6 && i < 3)
                                {
                                    i++;
                                    if (item.foto1 == null)
                                    {
                                        <td><img style='width:70px; height:70px; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" /></td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img style='width:70px; height:70px; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.foto1)" />
                                        </td>
                                    }

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Baslik)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Aciklama)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) 
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        @{
            i = 0;
        }
        <div class="col-md-6">
            <br />
            <div class="panel panel-danger">
                <div class="panel-heading">Fıkra</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                &emsp;
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Baslik)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Aciklama)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>

                                @if (item.KategoriId == 7 && i < 3)
                                {
                                    i++;
                                    if (item.foto1 == null)
                                    {
                                        <td><img style='width:70px; height:70px; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" /></td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img style='width:70px; height:70px; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.foto1)" />
                                        </td>
                                    }

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Baslik)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Aciklama)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) 
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
 </div>




