﻿@model IEnumerable<WebApplication9.Models.Olustur>

@{
    ViewBag.Title = "Kategori";
}

<br />
    @foreach (var item in Model)
  {
    using (Html.BeginForm("sayfa", "Olustur", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.Hidden("itemId", item.Id)
            
    <div class="col-md-4">
    <div class="thumbnail">
        @if (item.foto1 == null)
        {
            <img style='width:200px; height:200px; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" />
        }
        else
        {
            <img style='width:200px; height:200px; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.foto1)" />
        }
    </div>
    <div class="caption">
        <h3>@Html.DisplayFor(modelItem => item.Baslik)</h3>
        <p>@Html.DisplayFor(modelItem => item.Aciklama)</p>
        <p><input class="btn btn-primary" type="submit" value="Detaylar" /></p>
    </div>
    <br /><br />
</div>
            
         
    }
}