﻿@model WebApplication9.Models.Olustur

@{
    ViewBag.Title = "sayfa";
}



<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yazi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yazi)
        </dd>

    </dl>
</div>

