﻿<!DOCTYPE html>




<head>
    <meta name="viewport" content="width=device-width" />
    <title>Iletisim</title>
    <style>
        #wrapper {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: white;
            z-index: 9999;
            opacity: 0.6;
            filter: alpha(opacity=60);
        }

        #message-sent {
            width: 340px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -30px;
            margin-left: -170px;
            font-weight: 600;
            border-radius: 0 16px;
            color: aliceblue;
            background-color: black;
            box-shadow: 0 0 20px 4px #0d6636;
        }

        #close-button {
            width: 18px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            position: absolute;
            top: -8px;
            right: -8px;
            background: black;
            border-radius: 0 8px;
            border: 1px solid #0d6636;
            cursor: pointer;
            font-weight: 600;
        }
    </style>
</head>

    <br />
    <br />

    <center><h1 style="font-size:75px; font-family:'Comic Sans MS'"><b>BİZE ULAŞIN</b></h1></center>
    <br />
    <br />
    <br />

    <i class="glyphicon glyphicon-envelope" style="font-size:40px;"><a style="font-size:50px;"> aaa@gmail.com &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
    <i class="glyphicon glyphicon-phone" style="font-size:40px;"><a style="font-size:50px;"> 0555-555-55-55</a></i>

    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="container">
        <br />
        <div class="row">
            <div class="col-md-9" style="background-color:deepskyblue">
                <h2>İletişim</h2>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "contact-form", action = "/iletisim/index" }))
            {
                if (ViewBag.Success != null && ViewBag.Success)
                {
                        <div id="wrapper">
                            <div id="message-sent">
                                <div id="close-button">
                                    <span>X</span>
                                </div>
                                <span>Mesajınız Başarıyla Gönderilmiştir.</span>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Ad Soyad</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input" name="FullName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Mesaj</label>
                        <div class="col-sm-10">
                            <textarea class="textarea" id="input-text" name="Message"></textarea>
                            @*<input type="text" class="textarea" id="input" name="Message">*@
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".obligation-button").click(function () {
                $(".contact-line-unrequired").slideToggle();
            });
        });

        function formEksikMi() {
            var rumuzDegeri = document.getElementById("input-nickname").value;
            var epostaDegeri = document.getElementById("input-email").value;
            var iletiDegeri = document.getElementById("input-text").value;
            if (rumuzDegeri === "" || iletiDegeri === "" || epostaDegeri === "") {
                alert("Lütfen gerekli alanlari doldurunuz.");
                return false;
            }
        }
    </script>
    <script>
        $('#wrapper').click(function () {
            $(this).fadeOut('slow');
        });
    </script>
